<div class="admin-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h4 class="sidebar-title">ITI Admin</h4>
    <nav class="nav">
        <a routerLink="./" routerLinkActive="active" data-icon="📊">Statistics</a>
        <a routerLink="/admin/dashboard/users" routerLinkActive="active" data-icon="👤">Users</a>
        <a routerLink="/admin/dashboard/posts" routerLinkActive="active" data-icon="📝">Posts</a>
        <a routerLink="/admin/dashboard/comments" routerLinkActive="active" data-icon="💬">Comments</a>
        <a routerLink="/admin/dashboard/tickets" routerLinkActive="active" data-icon="🎫">Tickets</a>
        <a routerLink="/admin/dashboard/logs" routerLinkActive="active" data-icon="🗂️">Admin Logs</a>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <div class="admin-dashboard">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>