<mat-card class="login-card">
  <img src="assets/iti-logo.png" alt="ITI Logo" class="login-logo" />
  <h2>Login</h2>

  <!-- Email -->
  <mat-form-field appearance="outline" [ngClass]="{'error': formSubmitted && !email}">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email" name="email" required />
  </mat-form-field>

  <!-- Password -->
  <mat-form-field appearance="outline" [ngClass]="{'error': formSubmitted && !password}">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" name="password" required />
  </mat-form-field>

  <!-- Forgot Password -->
  <div class="text-start mb-2" style="margin-top: -30px; margin-bottom: 30px;">
    <a href="#" (click)="navigateToResetPassword($event)" style="font-size: 13px;">Forgot Password?</a>
  </div>

  <!-- Sign In Button -->
  <button mat-raised-button style="color: white; background-color: var(--primary) !important; border: none;" (click)="login()" [disabled]="isLoading">
    <span *ngIf="!isLoading">Sign in</span>
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20"></mat-progress-spinner>
  </button>

  <!-- Google Login -->
  <div id="google-login-button" style="margin-top: 20px;"></div>

  <!-- Sign Up Link -->
  <div class="text-center mt-3">
    <span>Don't have an account?</span>
    <a routerLink="/register" style="color: var(--primary); font-weight: 500;"> Sign Up</a>
  </div>
</mat-card>
