<button mat-icon-button [matMenuTriggerFor]="menu">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
    <circle cx="5" cy="12" r="2"/>
    <circle cx="12" cy="12" r="2"/>
    <circle cx="19" cy="12" r="2"/>
  </svg>
</button>

  
  <mat-menu #menu="matMenu">
    <button *ngIf="isOwner" mat-menu-item (click)="edit.emit()">تعديل</button>
    <button *ngIf="isOwner" mat-menu-item (click)="delete.emit()">حذف</button>
    <button *ngIf="!isOwner" mat-menu-item (click)="report.emit()">تبليغ</button>
    <button *ngIf="!isOwner" mat-menu-item (click)="hide.emit()">إخفاء</button>
  </mat-menu>
  