<div class="reset-password-wrapper animate__animated animate__fadeIn">
    <mat-card class="reset-password-card">
      <h2>Reset your password</h2>
      <p>Please enter your email address and we’ll send you a reset link.</p>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" />
          <mat-error *ngIf="resetForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="resetForm.get('email')?.hasError('email')">
            Invalid email format
          </mat-error>
        </mat-form-field>
  
        <button
        mat-flat-button
        color="primary"
        class="full-width"
        type="submit"
        name="submit"
        [disabled]="isLoading || resetForm.invalid"
      >
        <span class="btn-content">
          <mat-progress-spinner
            *ngIf="isLoading"
            diameter="20"
            mode="indeterminate"
            color="accent"
          ></mat-progress-spinner>
          <span>Send Reset Link</span>
        </span>
      </button>
      
      </form>
    </mat-card>
  </div>
  