<section class="container py-5">
    <h2 class="text-center mb-4">Available Tracks</h2>
  
    <input
      type="text"
      class="form-control mb-4 search-input"
      placeholder="Search tracks by name..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearch($event)" />
  
      <div class="row g-4">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let track of filteredTracks">
        <div class="card h-100 p-3" data-aos="fade-down">
          <h5 class="fw-bold text-primary track-name">Name:{{ track.name }}</h5>
          <p class="text-muted small mb-2">Program:{{ track.program?.name }}</p>
          <p class="mb-0">Description:{{ track.description }}</p>
      
          <div *ngIf="track.intakes?.length">
            <p class="mb-1 text-secondary small fw-medium">
              Intakes:
              <span *ngFor="let intake of track.intakes; let last = last">
                {{ intake.intake_cycle }}<span *ngIf="!last">, </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noResults>
      <div class="text-center text-muted mt-4">
        <p>No tracks found. Try a different search term.</p>
      </div>
    </ng-template>
  </section>